@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
* {
  transition: 0.4s ease;
}
body {
  background-color: #e5e9e9;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 4px;
  font-family: "Raleway";
  font-weight: 400;
}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100px;
  padding: 0 25px;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.02);
  box-shadow: 0 0 15px 2px rgba(0,0,0,0.5);
  z-index: 100;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: 0.35s ease;
}
.fixed-nav-bar .logo {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  color: #ccc;
  font-size: 28px;
  font-weight: 300;
  cursor: pointer;
}
.fixed-nav-bar .logo span {
  color: #e78533;
  font-weight: 600;
}
.fixed-nav-bar.scrolled {
  min-height: 60px;
  background-color: #fdfdfd;
  box-shadow: 0 0 30px 3px rgba(0,0,0,0.6);
}
.fixed-nav-bar.scrolled .logo {
  color: #000;
}
.fixed-nav-bar.scrolled .menu-button-label .white-bar {
  background-color: #000;
}
.drop-down-container {
  
  height: 15%;
  width: 90%;
  left: 160%;
  margin-top: 5px;
  transform: translateX(-50%);
  transition: 0.3s ease;
}
.drop-down-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 8px;
  bottom: 0;
  background-color: #222;
}
.drop-down-item:before {
  content: "";
  position: absolute;
  right: -8px;
  height: 100%;
  width: 8px;
  transition: 0.25s ease;
  background: linear-gradient(to left, #e78533 50%, #222 50%);
  background-size: 200% 100%;
  background-position: left;
}
.drop-down-item:hover::before {
  background-position: right;
}
.the-bass {
  position: fixed;
  height: 0px;
  width: 360px;
  right: 0;
  top: 100px;
  background-color: rgba(0,0,0,0.7);
  transition: 0.35s ease, height 0.35s 0.3s ease;
  z-index: 90;
}
.the-bass.scrolled {
  top: 60px;
}
.the-bass.dropped {
  height: 40vh;
  padding: 5px 0;
  transition: 0.35s ease;
}
.the-bass.dropped .drop-down-container {
  left: 50%;
}
.the-bass.dropped .drop-down-container:nth-child(1) {
  transition: 0.3s ease, left 0.4s 0.4s ease;
}
.the-bass.dropped .drop-down-container:nth-child(2) {
  transition: 0.3s ease, left 0.4s 0.46s ease;
}
.the-bass.dropped .drop-down-container:nth-child(3) {
  transition: 0.3s ease, left 0.4s 0.52s ease;
}
.the-bass.dropped .drop-down-container:nth-child(4) {
  transition: 0.3s ease, left 0.4s 0.58s ease;
}
.the-bass.dropped .drop-down-container:nth-child(5) {
  transition: 0.3s ease, left 0.4s 0.64s ease;
}
.the-bass.dropped .drop-down-container:nth-child(6) {
  transition: 0.3s ease, left 0.4s 0.7s ease;
}
.menu-button-label {
  position: absolute;
  height: 48px;
  width: 48px;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  transition: 0.4s ease;
}
.menu-button-label .white-bar {
  position: absolute;
  height: 2px;
  width: 66%;
  background-color: #ccc;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.4s ease, width 0.3s ease;
}
.menu-button-label .white-bar:nth-child(1) {
  top: 24%;
}
.menu-button-label .white-bar:nth-child(2),
.menu-button-label .white-bar:nth-child(3) {
  top: 47%;
}
.menu-button-label .white-bar:nth-child(4) {
  top: 71%;
}
#menuButton {
  display: none;
}
#menuButton:checked+ .menu-button-label .white-bar:nth-child(1),
#menuButton:checked+ .menu-button-label .white-bar:nth-child(4) {
  width: 0%;
}
#menuButton:checked+ .menu-button-label .white-bar:nth-child(2) {
  transform: translateX(-50%) rotate(45deg);
}
#menuButton:checked+ .menu-button-label .white-bar:nth-child(3) {
  transform: translateX(-50%) rotate(-45deg);
}
.rela-block {
  display: block;
  position: relative;
  overflow: hidden;
}
.cover-before::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.deer-section {
  min-height: 800px;
  min-width: 830px;
  background: url("oceanlogo4.png") no-repeat center  ;
  background-size: 424px 600px;
  background-color: #1a1a1a;
  box-shadow: 0 5px 20px 2px rgba(0,0,0,0.7);
  z-index: 7;
}
.second-section {
  min-height: 600px;
  background: url("http://avvs.co/wp-content/uploads/2015/11/white-washed-wood-furniture-minimalist-decor-on-white-design-ideas.jpg") no-repeat center;
  background-size: cover;
}
.second-section::before {
  background-color: rgba(255,255,255,0.88);
}
.big-floaty-image {
  position: relative;
  margin: 100px auto;
  height: 540px;
  width: 90%;
  max-width: 960px;
  background: url("http://www.pixelstalk.net/wp-content/uploads/2016/05/Hipster-Wallpapers-High-Quality-Free-Download.jpg") fixed center;
  background-size: 960px 1080px;
  box-shadow: 8px 9px 25px 2px rgba(0,0,0,0.5);
  overflow: hidden;
}
.absolute-center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 300;
  line-height: 52px;
  letter-spacing: 10px;
}
.third-section {
  min-height: 500px;
  background: url("https://4.bp.blogspot.com/-1UHmmr4AumQ/T-QwGJwJduI/AAAAAAAAKRE/6Vgq1WmrEzM/s1600/photoshops+(81).jpg") fixed center;
  background-size: cover;
}
.third-section::before {
  background-color: rgba(0,0,0,0.5);
}
.fourth-section {
  min-height: 800px;
}

.big-back-text-container {
  height: 500px;
  width: 90%;
  max-width: 1000px;
  margin: 80px auto;
  background: url("https://kccsecurity.com/wp-content/uploads/2018/01/Hipster-Wallpaper-9956.jpg") no-repeat center;
  background-size: 1280px 720px;
  overflow: hidden;
}
.big-back-text-container::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 35px;
  right: 35px;
  bottom: 35px;
  background-color: rgba(229,233,233,0.94);
}
.big-back-text-container .big-back-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  font-family: "Montserrat";
  font-size: 130px;
  line-height: 140px;
  background: url("https://kccsecurity.com/wp-content/uploads/2018/01/Hipster-Wallpaper-9956.jpg") no-repeat center;
  background-size: 1280px 720px;
  
  
  -webkit-text-fill-color: transparent;
}
.footer {
  min-height: 100px;
  background-color: #282828;
  box-sizing: border-box;
  border-top: 6px solid #e78533;
  color: #fff;
}
.social-buttons-container {
  min-height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 20px auto 0;
  text-align: center;
}
.social-button {
  display: inline-block;
  position: relative;
  transform: scale(0.75);
  height: 75px;
  width: 75px;
  background-size: cover !important;
  transition: 0.3s ease;
  margin: 14px 2px;
  cursor: pointer;
}
.social-button:hover {
  transform: scale(1);
  transition: 0.3s cubic-bezier(0.3, 0.2, 0, 2.5);
}
.social-button.twitter-button {
  background: url("https://cdn4.iconfinder.com/data/icons/social-icon-4/842/twitter-256.png") no-repeat center;
}
.social-button.facebook-button {
  background: url("https://cdn4.iconfinder.com/data/icons/social-icon-4/842/facebook-256.png") no-repeat center;
}
.social-button.pinterest-button {
  background: url("https://cdn4.iconfinder.com/data/icons/social-icon-4/842/pinterest-256.png") no-repeat center;
}
.social-button.insta-button {
  background: url("https://cdn4.iconfinder.com/data/icons/social-icon-4/842/instagram-256.png") no-repeat center;
}
.footer-links-container {
  display: flex;
  width: 90%;
  max-width: 950px;
  margin: 30px auto 80px;
  text-align: center;
}
.footer-links-container .footer-flex-column {
  position: relative;
  flex: 1 1 0;
  text-align: center;
  border-right: 1px solid #555;
}
.footer-links-container .footer-flex-column:last-child {
  border: none;
}
.footer-links-container .footer-flex-column ul {
  position: relative;
  width: 100%;
  max-width: 200px;
  margin: auto;
  color: #aaa;
  font-size: 18px;
  text-transform: uppercase;
}
.footer-links-container .footer-flex-column li {
  display: block;
  position: relative;
  margin: 15px 7px;
  color: #666;
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
}
.footer-links-container .footer-flex-column li:hover {
  color: #999;
}
@media screen and (max-width: 800px) {
  .fixed-nav-bar .logo {
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .deer-section {
    min-height: 660px;
    background-position: right bottom;
    background-size: 300px 425px;
  }
}
@media screen and (max-width: 500px) {
  .social-buttons-container {
    max-width: 200px;
  }
}
@-webkit-keyframes spinnerooni {
  0% {
    transform: rotate(-45deg);
  }
  7.5% {
    transform: rotate(-65deg);
  }
  25% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(315deg);
  }
}
@keyframes spinnerooni {
  0% {
    transform: rotate(-45deg);
  }
  7.5% {
    transform: rotate(-65deg);
  }
  25% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(315deg);
  }
}
@-webkit-keyframes colorChange {
  0% {
    background-color: #e91e63;
  }
  11% {
    background-color: #f44336;
  }
  22% {
    background-color: #ff9800;
  }
  33% {
    background-color: #ffeb3b;
  }
  44% {
    background-color: #8bc34a;
  }
  55% {
    background-color: #009688;
  }
  66% {
    background-color: #00bcd4;
  }
  77% {
    background-color: #2196f3;
  }
  88% {
    background-color: #673ab7;
  }
  100% {
    background-color: #9c27b0;
  }
}
@keyframes colorChange {
  0% {
    background-color: #e91e63;
  }
  11% {
    background-color: #f44336;
  }
  22% {
    background-color: #ff9800;
  }
  33% {
    background-color: #ffeb3b;
  }
  44% {
    background-color: #8bc34a;
  }
  55% {
    background-color: #009688;
  }
  66% {
    background-color: #00bcd4;
  }
  77% {
    background-color: #2196f3;
  }
  88% {
    background-color: #673ab7;
  }
  100% {
    background-color: #9c27b0;
  }
}

@import "https://fonts.googleapis.com/css?family=Lato:100";



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: "Lato", Arial, sans-serif;

}

header{
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  position: relative;
  animation: change 9s ease-in-out infinite;

}

.buysell {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 3px solid #fff;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem 10rem;
  max-width: 320px;
}

@keyframes change {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}







@media screen and (max-width: 1024px){
  .nav-links{
    display: flex;
    justify-content: space-around;
    width: 60%;
}
}


a:visited {
  color:white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: ForestGreen;
}
