@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


:root {
  --backgroundColor: #232323;
  --firstColor: #00d69c;
  --secondColor: #c52afc;
  --thirdColor: #ff1f00;
  --fourthColor: #ffd600;
  --dropShadowColor: rgba(0, 0, 0, 0.7);
}

html,
body {
  
  background-color: var(--backgroundColor);
  color:white;
  font-size:20px;
}

main {
  display: grid;
  width: 100vw;
  height: 100vh;
}

.blob {
  margin: auto;
}

svg {
  transform-origin: 50% 50%;
  animation: move 24s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: scale(1) translate(0, 0) rotate(0);
    fill: var(--firstColor);
    filter: drop-shadow(20px 14px 10px var(--dropShadowColor));
  }
  25% {
    transform: scale(0.8) translate(5vw, 10vh) rotate(55deg);
    fill: var(--secondColor);
    filter: drop-shadow(14px 14px 6px var(--dropShadowColor));
  }
  50% {
    transform: scale(0.6) translate(15vw, 5vh) rotate(180deg);
    fill: var(--thirdColor);
    filter: drop-shadow(-16px -16px 16px var(--dropShadowColor));
  }
  75% {
    transform: scale(0.8) translate(5vw, 10h) rotate(55deg);
    fill: var(--fourthColor);
    filter: drop-shadow(14px 14px 6px var(--dropShadowColor));
  }
  100% {
    transform: scale(1) translate(0, 0) rotate(0);
    fill: var(--firstColor);
    filter: drop-shadow(20px 14px 10px var(--dropShadowColor));
  }
}

h1{
    color: #ffcc29;
    font-family: 'cardo', serif;
    /*text-transform: uppercase;*/
    text-align: center;
    font-size: 50px;
}

h2, h3, h4, h5, h6 {
    color: #ffcc29;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
   }

   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color:MediumSeaGreen;
  }
  


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background-color:MediumSeaGreen;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.activelk {
  background-color: DarkCyan;
}

a:link {
  color: LightSeaGreen;
}

/* visited link */
a:visited {
  color:white;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: ForestGreen;
}


.menu{
  width: 20px;
  height: 2px;
  background-color: white;
  margin: 2px 0;
}

.btn {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;   
}
.dropdowncontent {

  display: none;
  position:absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
}

 /* Change color of dropdown links on hover */
.dropdowncontent a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdowncontent {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .btn {background-color: #3e8e4102;} 
 

.content {
  max-width: 350px;
  background-color: rgba(49, 49, 49, 0.6);;
  border: 1px solid black;
  position: absolute;
  margin: auto;
  padding:10px;
}

.yellow{
  color:#ffcc29;
}

