@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body{
    overflow: unset;
    background-color:rgb(31, 29, 29);
    color:white;
    font-family: 'Cardo', serif;
    font-size: 20px;
    
    
    
    width: 100%;
    height: 100%;
    background-size:unset;
    background-repeat: no-repeat;
    background-attachment: scroll;
    overflow-x: clip ;
    
}


h1{
    color: #ffcc29;
    font-family: 'cardo', serif;
    /*text-transform: uppercase;*/
    text-align: center;
    font-size: 50px;
}

h2, h3, h4, h5, h6 {
    color: #ffcc29;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    
   }

   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color:MediumSeaGreen;
  }
  
  p{
    text-align: center;
    
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background-color:MediumSeaGreen;
}

li {
  float: left;
  color:white;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.activelk {
  background-color: DarkCyan;
}

a:link {
  color: LightSeaGreen;
}

/* visited link */
a:visited {
  color:white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: ForestGreen;
}


.menu{
  width: 20px;
  height: 2px;
  background-color: white;
  margin: 2px 0;
}

.btn {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;   
}
.dropdowncontent {

  display: none;
  position:absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
}

 /* Change color of dropdown links on hover */
.dropdowncontent a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdowncontent {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .btn {background-color: #3e8e4102;} 

.transbox {
  max-width: 750px;
  background-color: rgba(49, 49, 49, 0.6);;
  border: 1px solid black;
  position: relative;
  margin: auto;
  padding:10px;
}

.dataa{
  background-color: rgba(0, 0, 0, 0);
}

.inputsell{
  /*max-width: 150px;
  align-items: center;
  position:relative;
  margin: auto;
 */
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  padding: 0px;
}

.box{
  background-color: rgb(13, 150, 127);opacity: 0.8;
  width: 300px;
  max-height: 400px;
  border: 5px solid white;;
  padding: 50px;
  margin: 20px;
  position: relative;
  float:left;
  overflow-y: auto;
  overflow-x: auto;
  
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.heighttext{
  height:50px;
  
}

input[type='text'] { font-size: 20px; }

input[type=text] {
  box-sizing: border-box;
  border: 5px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}  

input[type='password'] { font-size: 20px; }

input[type=password] {
  box-sizing: border-box;
  border: 5px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}  

input[type=text]:focus {
  border: 5px solid rgb(0, 163, 204);
}

input[type=submit]{
  background-color: #ffcc29;
  border: none;
  font-size: 24px;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
}

.yellow{
  color:#ffcc29;
}

.card{
  position: relative;
  margin:left;
  max-width: 300px;
  min-height: 642px;
  padding:2px;
  float: left;
  background-color: rgb(61, 56, 56);
}



body {
    margin: 0;
    padding: 0;
  }
  svg {
    overflow: visible;
    shape-rendering: geometricPrecision;
    -webkit-transform-style: preserve-3D;
    -moz-transform-style: preserve-3D;
    -ms-transform-style: preserve-3D;
    -o-transform-style: preserve-3D;
    transform-style: preserve-3D;
    -webkit-perspective: 1500px;
    -moz-perspective: 1500px;
    -ms-perspective: 1500px;
    -o-perspective: 1500px;
    perspective: 1500px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  /* LINE ANIMATION ===================== */
  #line .st5 {
    fill: none;
    filter: url(#f1);
    stroke: rgba(255, 255, 255, 0);
    stroke-width: 4;
    stroke-linecap: round;
    stroke-dasharray: 1, 2000;
    stroke-dashoffset: 2000;
    -webkit-animation: dot 9s 3s forwards ease 1, pulse 0.25s infinite;
    animation: dot 9s 3s forwards ease 1, pulse 0.25s infinite;
  }
  @-webkit-keyframes dot {
    0% {
      stroke-dashoffset: 2000;
      stroke: rgba(255, 255, 255, 0.8);
    }
    50% {
      stroke: rgba(255, 255, 255, 0.9);
    }
    100% {
      stroke-dashoffset: 0;
      stroke: rgba(255, 255, 255, 0);
    }
  }
  @keyframes dot {
    0% {
      stroke-dashoffset: 2000;
      stroke: rgba(255, 255, 255, 0.8);
    }
    50% {
      stroke: rgba(255, 255, 255, 0.9);
    }
    100% {
      stroke-dashoffset: 0;
      stroke: rgba(255, 255, 255, 0);
    }
  }
  @-webkit-keyframes pulse {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0.25;
    }
  }
  @keyframes pulse {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0.25;
    }
  }
  #line .st6 {
    fill: none;
    stroke: rgba(255, 255, 255, 0);
    stroke-width: 1;
    stroke-linecap: round;
    stroke-dasharray: 200, 2000;
    stroke-dashoffset: 2000;
    -webkit-animation: line 9s 9s forwards ease infinite;
    animation: line 9s 9s forwards ease infinite;
  }
  @-webkit-keyframes line {
    0% {
      stroke-dashoffset: 2000;
      stroke: rgba(255, 255, 255, 0);
    }
    5% {
      stroke: rgba(255, 255, 255, 0.3);
    }
    50% {
      stroke: rgba(255, 255, 255, 0.3);
    }
    100% {
      stroke-dashoffset: 0;
      stroke: rgba(255, 255, 255, 0);
    }
  }
  @keyframes line {
    0% {
      stroke-dashoffset: 2000;
      stroke: rgba(255, 255, 255, 0);
    }
    5% {
      stroke: rgba(255, 255, 255, 0.3);
    }
    50% {
      stroke: rgba(255, 255, 255, 0.3);
    }
    100% {
      stroke-dashoffset: 0;
      stroke: rgba(255, 255, 255, 0);
    }
  }
  #line .st4 {
    opacity: 0;
    stroke: rgba(255, 255, 255, 0);
    fill: rgba(255, 255, 255, 0.2);
    stroke-width: 2;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    -webkit-animation: strokeFade 10s alternate linear infinite,
      fadeIn 4s 0.5s forwards ease 1, dash 9s 3s forwards ease 1;
    animation: strokeFade 10s alternate linear infinite,
      fadeIn 4s 0.5s forwards ease 1, dash 9s 3s forwards ease 1;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  @-webkit-keyframes strokeFade {
    0% {
      stroke: #b6862d;
    }
    50% {
      stroke: rgba(255, 255, 255, 0.3);
    }
    100% {
      stroke: #b6862d;
    }
  }
  @keyframes strokeFade {
    0% {
      stroke: #b6862d;
    }
    50% {
      stroke: rgba(255, 255, 255, 0.3);
    }
    100% {
      stroke: #b6862d;
    }
  }
  @-webkit-keyframes dash {
    to {
      stroke-dashoffset: 0;
      fill: rgba(255, 255, 255, 0);
    }
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
      fill: rgba(255, 255, 255, 0);
    }
  }
  @-webkit-keyframes fadeInUpLeft {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.3) translateY(300px) translateX(-300px);
      transform: scale(0.3) translateY(300px) translateX(-300px);
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1) translateY(0) translateX(0);
      transform: scale(1) translateY(0) translateX(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }
  @keyframes fadeInUpLeft {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.3) translateY(300px) translateX(-300px);
      -ms-transform: scale(0.3) translateY(300px) translateX(-300px);
      transform: scale(0.3) translateY(300px) translateX(-300px);
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1) translateY(0) translateX(0);
      -ms-transform: scale(1) translateY(0) translateX(0);
      transform: scale(1) translateY(0) translateX(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }
  
  /* CENTER TRIANGLE ===================== */
  #graphic .st1 {
    fill: url(#GRAD_2);
    -webkit-animation: fadeInUpRight 14s forwards linear;
    animation: fadeInUpRight 14s forwards linear;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    transform-origin: 50%;
  }
  @-webkit-keyframes fadeInUpRight {
    0% {
      -webkit-transform: scale(3) translateY(200px) translateX(100px);
      transform: scale(3) translateY(200px) translateX(100px);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: scale(1) translateY(0) translateX(0);
      transform: scale(1) translateY(0) translateX(0);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
  }
  @keyframes fadeInUpRight {
    0% {
      -webkit-transform: scale(3) translateY(200px) translateX(100px);
      -ms-transform: scale(3) translateY(200px) translateX(100px);
      transform: scale(3) translateY(200px) translateX(100px);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: scale(1) translateY(0) translateX(0);
      -ms-transform: scale(1) translateY(0) translateX(0);
      transform: scale(1) translateY(0) translateX(0);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
  }
  
  /* TOP LEFT POLYGON ===================== */
  #graphic .st2 {
    fill: url(#GRAD_3);
    -webkit-animation: fadeInLeft 8s forwards linear;
    animation: fadeInLeft 8s forwards linear;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    transform-origin: 50%;
  }
  @-webkit-keyframes fadeInLeft {
    0% {
      -webkit-transform: scale(3) translateX(-180px);
      transform: scale(3) translateX(-180px);
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
    }
    100% {
      -webkit-transform: scale(1) translateX(0);
      transform: scale(1) translateX(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }
  @keyframes fadeInLeft {
    0% {
      -webkit-transform: scale(3) translateX(-180px);
      -ms-transform: scale(3) translateX(-180px);
      transform: scale(3) translateX(-180px);
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
    }
    100% {
      -webkit-transform: scale(1) translateX(0);
      -ms-transform: scale(1) translateX(0);
      transform: scale(1) translateX(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }
  
  /* BOTTOM LEFT POLYGON ===================== */
  #graphic .st3 {
    fill: url(#GRAD_4);
    -webkit-animation: zoomInLeft 12s forwards linear;
    animation: zoomInLeft 12s forwards linear;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  @-webkit-keyframes zoomInLeft {
    0% {
      -webkit-transform: scale(3) translateX(50px);
      transform: scale(3) translateX(50px);
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
    }
    100% {
      -webkit-transform: scale(1) translateX(0);
      transform: scale(1) translateX(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }
  @keyframes zoomInLeft {
    0% {
      -webkit-transform: scale(3) translateX(50px);
      -ms-transform: scale(3) translateX(50px);
      transform: scale(3) translateX(50px);
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
    }
    100% {
      -webkit-transform: scale(1) translateX(0);
      -ms-transform: scale(1) translateX(0);
      transform: scale(1) translateX(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }
  /* BACKGROUND OVERLAY GRADIENT ===================== */
  #background rect.st0 {
    fill: url(#GRAD_OVERLAY);
  }
  /* BACKGROUND COLOR CHANGING ANIMATION ===================== */
  #background rect.st1 {
    fill: none; /* Fix BG Color Flicker */
    opacity: 0; /* Fix BG Color Flicker */
    -webkit-transform: translateY(0) translateX(0);
    -moz-transform: translateY(0) translateX(0);
    -ms-transform: translateY(0) translateX(0);
    -o-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    -webkit-animation: color-change 120s linear infinite,
      fadeIn 2s 0.5s forwards ease 1;
    -moz-animation: color-change 120s linear infinite,
      fadeIn 2s 0.5s forwards ease 1;
    -ms-animation: color-change 120s linear infinite,
      fadeIn 2s 0.5s forwards ease 1;
    -o-animation: color-change 120s linear infinite,
      fadeIn 2s 0.5s forwards ease 1;
    animation: color-change 120s linear infinite, fadeIn 2s 0.5s forwards ease 1;
  }
  
  @-webkit-keyframes color-change {
    0% {
      fill: #f6a800;
    } /* ORANGE */
    10% {
      fill: #d8292f;
    } /* RED */
    20% {
      fill: #4b384c;
    } /* PURPLE */
    30% {
      fill: #2c5697;
    } /* DK BLUE */
    40% {
      fill: #4e748b;
    } /* BLUE */
    50% {
      fill: #8cb8ca;
    } /* LT BLUE */
    60% {
      fill: #58b7b3;
    } /* TEAL */
    70% {
      fill: #b5be00;
    } /* GREEN */
    80% {
      fill: #e1e000;
    } /* YELLOW */
    100% {
      fill: #f6a800;
    } /* ORANGE */
  }
  @-moz-keyframes color-change {
    0% {
      fill: #f6a800;
    } /* ORANGE */
    10% {
      fill: #d8292f;
    } /* RED */
    20% {
      fill: #4b384c;
    } /* PURPLE */
    30% {
      fill: #2c5697;
    } /* DK BLUE */
    40% {
      fill: #4e748b;
    } /* BLUE */
    50% {
      fill: #8cb8ca;
    } /* LT BLUE */
    60% {
      fill: #58b7b3;
    } /* TEAL */
    70% {
      fill: #b5be00;
    } /* GREEN */
    80% {
      fill: #e1e000;
    } /* YELLOW */
    100% {
      fill: #f6a800;
    } /* ORANGE */
  }
  @-ms-keyframes color-change {
    0% {
      fill: #f6a800;
    } /* ORANGE */
    10% {
      fill: #d8292f;
    } /* RED */
    20% {
      fill: #4b384c;
    } /* PURPLE */
    30% {
      fill: #2c5697;
    } /* DK BLUE */
    40% {
      fill: #4e748b;
    } /* BLUE */
    50% {
      fill: #8cb8ca;
    } /* LT BLUE */
    60% {
      fill: #58b7b3;
    } /* TEAL */
    70% {
      fill: #b5be00;
    } /* GREEN */
    80% {
      fill: #e1e000;
    } /* YELLOW */
    100% {
      fill: #f6a800;
    } /* ORANGE */
  }
  @-o-keyframes color-change {
    0% {
      fill: #f6a800;
    } /* ORANGE */
    10% {
      fill: #d8292f;
    } /* RED */
    20% {
      fill: #4b384c;
    } /* PURPLE */
    30% {
      fill: #2c5697;
    } /* DK BLUE */
    40% {
      fill: #4e748b;
    } /* BLUE */
    50% {
      fill: #8cb8ca;
    } /* LT BLUE */
    60% {
      fill: #58b7b3;
    } /* TEAL */
    70% {
      fill: #b5be00;
    } /* GREEN */
    80% {
      fill: #e1e000;
    } /* YELLOW */
    100% {
      fill: #f6a800;
    } /* ORANGE */
  }
  @keyframes color-change {
    0% {
      fill: #f6a800;
    } /* ORANGE */
    10% {
      fill: #d8292f;
    } /* RED */
    20% {
      fill: #4b384c;
    } /* PURPLE */
    30% {
      fill: #2c5697;
    } /* DK BLUE */
    40% {
      fill: #4e748b;
    } /* BLUE */
    50% {
      fill: #8cb8ca;
    } /* LT BLUE */
    60% {
      fill: #58b7b3;
    } /* TEAL */
    70% {
      fill: #b5be00;
    } /* GREEN */
    80% {
      fill: #e1e000;
    } /* YELLOW */
    100% {
      fill: #f6a800;
    } /* ORANGE */
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

  * {
    margin-top: 0;
    padding: 0;
  }
  body {
    
    justify-content: center;
    align-items: center;

  }

  #iso {
    position: relative;
    color: #fff;
    font-size: 15em;
    line-height: 0, 9em;
    letter-spacing: 2px;
    text-align: center;
    transform: rotate(0deg) skew(0deg);
  }
  #iso:before {
    content: attr(data-text);
    position: absolute;
    top: 20px;
    left: -20px;
    color: rgba(0, 0, 0, 0.3);
    text-shadow: none;
    filter: blur(8px);
    z-index: -1;
  }
  

  .listings-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.card{
    flex-shrink:0;
}
.listing{
    padding:50px;
}