<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style2.css">
    <script src="static/menu.js"></script>
    <title>about</title>
</head>
<body>
    <div class="dropdown">
        <button class="btn" onclick="blink()">
        
            <div class="menu "></div>
            <div class="menu "></div>
            <div class="menu "></div>
            <div class="menu "></div>
          
        </button>
       
        <div class="dropdowncontent" id="menu" >
            <ul>
                    <li><a href="/" > Home </a></li>
                    
                    <li><a href="/buy"> Buy </a></li>
                    <li><a href="/sell"> Sell</a></li>
                   
                    <li><a href="/about" class="activelk"> About</a></li>
            </ul>
        </div>
    </div>

    <br><br>
    <h1>About</h1> 
    <br>
    <div class="transbox">
        <p><div class="yellow">Origin : </div>  The whole reason we have made this website  is to solve a problem and to help society. <br> 
            Every year we waste money buying new text books and  once  we're promoted to the next year and we're done with them,
            we throw those books away or burn them, which causes pollution.<br><br>
            <div class="yellow">Solution : </div>  Though this website we hope that people can sell and buy old textbooks or any other books, so that the books will be reused by those who are in search of them. <br><br>
            <div class="yellow">Customers : </div> : This website is specialy built keeping students in mind who are either stuck between buying new books or borrowing library books. <br>
            However this website is open to anyone willing to but books. <br><br>
            Please note that for now this is a non-profit. <br><br>
            Developed by a team of  full-stack developers. <br><br>
            For any quarries <div class="yellow">contact</div> us at : <a href="mailto:vaughroy@gmail.com" class="cool">Ocean Support</a>

        
        </p>
      </div>
</body>
</html>