<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style2.css">
    <title>data</title>
</head>
<body>

    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style2.css">
    <script src="static/menu.js"></script>
    <title>logout</title>
</head>
<body> <div class="dropdown">
    <button class="btn" onclick="blink()">
    
        <div class="menu "></div>
        <div class="menu "></div>
        <div class="menu "></div>
        <div class="menu "></div>
      
    </button>
   
    <div class="dropdowncontent" id="menu" >
        <ul>
                <li><a href="/"> Home </a></li>
                
                <li><a href="/buy"> Buy </a></li>
                <li><a href="/sell"> Sell</a></li>
                <li><a href="/login"> Login</a></li>
                <li><a href="/data" class="activelk"> data</a></li>
                <li><a href="/logout"> Logout</a></li>
                <li><a href="/about"> about</a></li>
                 
        </ul>
    </div>
</div>
    <br><br>

    <h1>Data:</h1>
    <ul class="dataa">
        
        {% for name in bdata %}
            <div class="box">
                <li style="float: none;"><img src="static\oceanlogo.png" alt="books" style="width:100%" >  </li>
             <li style="float: none;">{{name["name"]}} {{name["surname"]}}  </li>
                <li style="float: none;">   {{name["email"]}} </li>
                    <li style="float: none;">    {{name["insta"]}}  </li>
                        <li style="float: none;">   {{name["numb"]}}</li>
                            <li style="float: none;">   {{name["book"]}} </li>
                                <li style="float: none;">  {{name["descript"]}} </li>
                                    <li style="float: none;">  {{name["price"]}}</li>
                                        <li style="float: none;">   {{name["oprice"]}} <li>
            </div>                               
        {% endfor %}
       
    </ul>
   
    
</body>
</html>