<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style.css">
    <script src="static/menu.js"></script>

    
    <title> Ocean </title>
</head>

<body>
    
    <div class="dropdown">
        <button class="btn" >
        
            <div class="menu "></div>
            <div class="menu "></div>
            <div class="menu "></div>
            <div class="menu "></div>
          
        </button>
       
        <div class="dropdowncontent"  >
            <ul>
                    <li><a href="/" class="activelk"> Home </a></li>
                    
                    <li><a href="/buy"> Buy </a></li>
                    <li><a href="/sell"> Sell</a></li>
                   
                    <li><a href="/about"> About</a></li>
            </ul>
        </div>
    </div>

    
    <h1> <strong>Ocean</strong></h1>
    <br>
    <h2>. F O R E W O R D .</h2>

            <p>This platform is designed to allow you to buy or sell used books according to your requirements <br>
            <br>
            We empower people by
            Providing economic solutions and
            Creating opportunity for learning
            </p>
            </div>
            <br>
             
          
            
         
    <br>
    <div class="flex-container">
		<a href="/buy" style="text-decoration: none;"><div class="flex-item box-1" >Buy</div></a>
		<a href="/sell"  style="text-decoration: none;"><div class="flex-item box-2">Sell</div></a>
		
		
	</div>

    <br>
 
</body>

</html>