<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style2.css">
    <script src="static/menu.js"></script>
    <title>logout</title>
</head>
<body> <div class="dropdown">
    <button class="btn" onclick="blink()">
    
        <div class="menu "></div>
        <div class="menu "></div>
        <div class="menu "></div>
        <div class="menu "></div>
      
    </button>
   
    <div class="dropdowncontent" id="menu" >
        <ul>
                <li><a href="/"> Home </a></li>
                
            
                <li><a href="/logout" class="activelk"> Logout</a></li>
                <li><a href="/about"> about</a></li>
                 
        </ul>
    </div>
</div>

<br><br>
    <h1>Logout</h1> 
    <br><br>
    <a href="/admin">
    <img src="static\logout.png" class ="center">
    </a>
</body>
</html>