<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\ocean.css">
    <script src="static/sell.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>ocean</title>
</head>
<body>
    
    <div class="fixed-nav-bar">
        <div class="logo"><span>ACES</span>project</div>
        
        <input type="checkbox" id="menuButton" />
        
        <label for="menuButton" class="menu-button-label">
            <div class="white-bar"></div>
            <div class="white-bar"></div>
            <div class="white-bar"></div>
            <div class="white-bar"></div>
        </label>
       
    </div>
    <div class="the-bass">
        <div class="rela-block drop-down-container">
            <a href="/" style="text-decoration: none;"><div class="drop-down-item">HOME</div></a>
        </div>
        <div class="rela-block drop-down-container">
            <a href="/buy" style="text-decoration: none;"><div class="drop-down-item">BUY</div></a>
        </div>
        <div class="rela-block drop-down-container">
            <a href="/sell" style="text-decoration: none;"><div class="drop-down-item">SELL</div></a>
        </div>
        <div class="rela-block drop-down-container">
            <a href="/about" style="text-decoration: none;" ><div class="drop-down-item">ABOUT</div></a>
        </div>
        <div class="rela-block drop-down-container">
            <a href="/login" style="text-decoration: none;"><div class="drop-down-item">Login</div></a>
        </div>
        <div class="rela-block drop-down-container">
            <a href="/logout" style="text-decoration: none;"><div class="drop-down-item">Logout</div></a>
        </div>
    </div>
    <script src="static\ocean.js"></script>
    <div class="rela-block deer-section"></div>
    <p style ="color:rgb(5, 17, 20);text-align:centre;"><strong></strong></p>
    
    <header>
		<a href="/buy" style="text-decoration: none;"><h1 class="buysell">Buy</h1></a>
        <br>
		<a href="/sell" style="text-decoration: none;"><h1 class="buysell">Sell</h1></a>      
	</header>

    <div class="rela-block second-section cover-before">
        <div class="big-floaty-image">
            <p class="absolute-center-text">24/7 AT YOUR SERVICE</p>
        </div>
    </div>
    <div class="rela-block third-section cover-before">
        <p class="absolute-center-text">WE DEAL WITH ALL<br><br>KINDS OF BOOKS!</p>
    </div>

   <!-- <div class="rela-block fourth-section">
        <div class="rela-block big-back-text-container">
            <h1 class="big-back-text">THIS IS BOLD TEXT</h1>
        </div>
    </div>
-->
    <div class="rela-block footer">
        <div class="rela-block social-buttons-container">
            <a href="https://www.facebook.com/"><div class="social-button facebook-button"></div></a>
            <a href="https://www.instagram.com/"><div class="social-button insta-button"></div></a>
            <a href="https://twitter.com/?lang=en"><div class="social-button twitter-button"></div></a>
            <a href="https://in.pinterest.com/"><div class="social-button pinterest-button"></div></a>
        </div>
        <div class="rela-block footer-links-container">
            <div class="footer-flex-column">
                <ul> Projects
                    <li>Ocean</li>
                    <li>GitHub</li>
                    <li>Program</li>
                </ul>
            </div>
            <div class="footer-flex-column">
                <ul> About us
                    <li>front-end</li>
                    <li>back-end</li>
                    <li>developers</li>
                </ul>
            </div>
            <div class="footer-flex-column">
                <ul> Community
                    <li>helpful</li>
                    <li>hardwork</li>
                    <li>development</li>
                </ul>
            </div>
            <div class="footer-flex-column">
                <ul> Connect
                    <li>instagram</li>
                    <li>whatsapp</li>
                    <li>linkedIn</li>
                </ul>
            </div>
        </div>
    </div>
    
</body>
</html>