<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style4.css">
    <script src="static/ocean.js"></script>
</head>
<body>


    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1200 310" style="enable-background:new 0 0 1200 310;" xml:space="preserve" preserveAspectRatio="xMinYMin slice">
        <defs>
          <filter id="f1" x="0" y="0">
            <feGaussianBlur in="SourceGraphic" stdDeviation="3" />
          </filter>
          <linearGradient id="GRAD_OVERLAY" gradientUnits="userSpaceOnUse" x1="100%" y1="0%" x2="0%" y2="100%">
            <stop offset="0" style="stop-color:#000000;stop-opacity:0.40"/>
            <stop offset="1" style="stop-color:#000000;stop-opacity:0.00"/>
          </linearGradient>
          <linearGradient id="GRAD_1">
            <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0.30"/>
            <stop offset="1" style="stop-color:#FFFFFF;stop-opacity:0.00"/>
          </linearGradient>
          <linearGradient id="GRAD_2" x1="0" y1="1" y2="0" x2="1">
            <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0.00"/>
            <stop offset="1" style="stop-color:#FFFFFF;stop-opacity:0.20"/>
          </linearGradient>
          <linearGradient id="GRAD_3">
            <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0.00"/>
            <stop offset="1" style="stop-color:#FFFFFF;stop-opacity:0.20"/>
          </linearGradient>
          <linearGradient id="GRAD_4" y2="1" x2="1">
            <stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0.00"/>
            <stop offset="1" style="stop-color:#FFFFFF;stop-opacity:0.20"/>
          </linearGradient>
      </defs>
            <g id="background">            
          <rect y="-1" class="st1" width="1200" height="312"/>
          <rect y="0" class="st0" width="1200" height="312"/>
            </g>
            <g id="graphic">      
          <polygon class="st1" points="848.875,311 310.808,311 579.841,-25.535"/>
          <polygon class="st2" points="0,-1 0,311 42.081,311 293.299,-1"/>
          <polygon class="st3" points="310.807,311 0,311 -0.346,-67.654"/>
            </g>
         <g id="line">
            <polyline class="st4" points="1054.599,310.25 832.676,30.608 610.333,310.25 761.278,310.25 611.459,121.124 461.785,310.25"/>
          <polyline class="st5" points="1054.599,310.25 832.676,30.608 610.333,310.25 761.278,310.25 611.459,121.124 461.785,310.25"/>
         <polyline class="st6" points="1054.599,310.25 832.676,30.608 610.333,310.25 761.278,310.25 611.459,121.124 461.785,310.25"/>
         </g>
    </svg>



    <div class="dropdown">
        <button class="btn" onclick="blink()">
        
            <div class="menu "></div>
            <div class="menu "></div>
            <div class="menu "></div>
            <div class="menu "></div>
          
        </button>
       
        <div class="dropdowncontent" id="menu" >
            <ul>
                    <li><a href="/"> Home </a></li>
                    
                    <li><a href="/buy"> Buy </a></li>
                    <li><a href="/sell" class="activelk"> Sell</a></li>
                   
                    <li><a href="/about"> about</a></li>
            </ul>
        </div>
    </div>

   

    <br><br>
    <div style="margin-left: 720px;">
    <span id="iso" data-text="Sell">Sell</span>
    <script  src="static/sell.js"></script>
    </div>


    <form action="/notice"  method="POST">
        
        <div class="inputsell" >
            <label for="fname">First name:</label>
              <input type="text" name="name" placeholder="First Name" class="fname" class="heighttext" size=27 pattern="[a-zA-Z .'']{3,25}" required> 
             <br>
              <label for="sname">Surname:</label>
              <input type="text" name="surname" placeholder="Surname"  class="sname" size=27 pattern="[a-zA-Z .'']{3,25}" required> 
              <br>
              <label for="maill">Email :</label>
              <input type="text" name="email" placeholder="Email" id="email"  class="maill" size=27 pattern="[a-zA-Z0-9.!#@$%^*_|]{9,30}" required>
              <br>
               <label for="instagrammm">Instagram:</label>
              <input type="text" name="insta" placeholder="Instagram" class="instagrammm" size=27 pattern="[a-zA-Z0-9!#$%^*_|]{5,25}" >
              <br>
                <label for="phonenumber">Phone:</label>
             <input type="text" name="numb" placeholder="Whatsapp number"  class="phonenumber" id="number" size=27 pattern="[0-9]{10}" maxlength=10 required>
             <br>
             <label for="bname">Book name:</label>
              <input type="text" name="book" placeholder="Book Name" size=27  class="bname" required>
              <br>
              <label for="Description">Description (how old, the condition, etc):</label>
              <input type="text" name="descript" placeholder="Description" size=27  class="Description"  required>
              <br>
             <label for="sellingprice">Selling Price:</label>
             <input type="text" name="price" placeholder="Selling Price" size=27  class="sellingprice" pattern="[0-9 . ]{1,8}" required>
             <br>
             <label for="originalprice">Original Price:</label>
             <input type="text" name="oprice" placeholder="Original Price" size=27 class="originalprice"  pattern="[0-9 . ]{1,8}" required>
                <br><br>
            <input type="submit"></input>
            <br><br>
        </div>
    </form>
    


</body>
</html>