<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style2.css">
    <script src="static/menu.js"></script>
    <title>success</title>
   

</head>
<body>
  <div class="dropdown">
    <button class="btn" onclick="blink()">
    
        <div class="menu "></div>
        <div class="menu "></div>
        <div class="menu "></div>
        <div class="menu "></div>
      
    </button>
   
    <div class="dropdowncontent" id="menu" >
        <ul>
                <li><a href="/" > Home </a></li>
                <li><a href="/buy"> Buy </a></li>
                <li><a href="/sell"> Sell</a></li>
                <li><a href="/login" class="activelk"> Login</a></li>
                <li><a href="/admin" style="text-decoration: none;" > admin</a></li>
                <li><a href="/logout"> Logout</a></li>
                <li><a href="/about"> About</a></li>
        </ul>
    </div>
</div>

<br><br>

<h1>ACCESS GRANTED</h1>

</body>
</html>

</body>
</html>